<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des salles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let salle of lstSalles">
      <ion-item>
        <div>
          {{salle.name}}
        </div>
        <div slot="end">
          <ion-badge color="primary">{{salle.seatCount}}</ion-badge>
        </div>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="afficheSalle(salle.id)">Détails</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>